body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 4px 4px 5px #888888;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-stretch: expanded;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid rgb(0, 242, 255);
    width: 1450px;
    text-align: center;
    margin-top: 20px;
    justify-content: right;
    box-shadow: 4px 4px 5px rgb(173, 160, 160);
    background-color: #b6e8fe;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;

}

img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    background-color: rgb(172, 204, 193);
    margin-top: 5px;
    border-bottom: 2px solid rgb(22, 23, 28);
    border-top: 2px solid rgb(19, 15, 15);

}